<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -------------------- logo -------------------- -->
    <link rel="shortcut icon" href="./resources/image/M.jpg" type="image/x-icon">
    <!-- -------------------- **** -------------------- -->


    <!-- -------------------- css -------------------- -->
    <link rel="stylesheet" href="./css/Web-head.css">
    <link rel="stylesheet" href="./css/Web-body.css">
    <link rel="stylesheet" href="./css/Web-foot.css">
    <link rel="stylesheet" href="./css/index.css">
    <!-- -------------------- **** -------------------- -->


    <!-- -------------------- title -------------------- -->
    <title>FMBOY</title>
    <!-- -------------------- **** -------------------- -->

</head>

<body>

    <!-- -------------------- main -------------------- -->
    <main id="App">

        <!-- -------------------- head -------------------- -->
        <div class="head">
            <h1>肥猫主栈</h1>
            <!-- 导航栏 -->
            <div class="nav">
                <a href="./index.html" class="current">首页</a>
                <a href="./about.html">关于栈长</a>
            </div>
            <!-- 搜索 -->
            <form class="search" action="https://www.baidu.com/s" target="_blank">
                <input class="input1" type="text" class="search-box" name="word" placeholder="百度搜索">
                <input class="input2" type="submit" class="search-btn" value="搜索">
            </form>
            <!-- User -->
            <div class="User">
                <img src="./resources/image/V.jpg" alt="">
                <span>FatCat-BOY</span>
            </div>
        </div>
        <!-- -------------------- **** -------------------- -->


        <!-- -------------------- body -------------------- -->
        <div class="body">

            <!-- -------------------- 轮播图+内容 -------------------- -->
            <div class="body-carousel">

                <!-- -------------------- 轮播图 -------------------- -->
                <div class="body-carousel-img">
                    <div>
                        <img v-for="(item, index) in imgList" :src="item.img" alt="图片加载失败">
                    </div>
                </div>
                <!-- -------------------- 内容 -------------------- -->
                <div class="body-carousel-content">
                    <div class="left">
                        <div>
                            <ul>
                                <li v-for="(item,index) in carouselList">
                                    <a :href="item.url" target="_blank">{{item.text}}<span>&gt;</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <h4>JS源码</h4>
                        <ul>
                            <li>
                                <a href="https://cdn.jsdelivr.net/npm/vue/" target="_blank">vue<span>&gt;</span></a>
                            </li>
                            <li>
                                <a href="https://cdn.jsdelivr.net/npm/axios/" target="_blank">axios<span>&gt;</span></a>
                            </li>
                        </ul>
                        <a href="./CommonWeb.html" style="display: inline-block;">查看更多</a>
                    </div>
                </div>
            </div>
            <!-- -------------------- **** -------------------- -->

            <br><br>
            <hr>
            <h2>暂未更新。。。</h2>

        </div>
        <!-- -------------------- **** -------------------- -->


        <!-- -------------------- foot -------------------- -->
        <div class="foot">
            <p class="foot-copyright">© 2024 版权所有 FatCat-BOY</p>
            <p class="foot-date">&lt;2024.01.01--2024.01.04&gt;</p>
        </div>
        <!-- -------------------- **** -------------------- -->

    </main>
    <!-- -------------------- **** -------------------- -->


    <!-- -------------------- script -------------------- -->
    <script src="https://FMBOY.gitee.io/resources/vue/vue@2.7.14/vue.js"></script>
    <script src="./js/index.js"></script>
    <!-- -------------------- **** -------------------- -->

</body>

</html>